In [2]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('data/cities_predict.csv')
df = df.dropna()

In [14]:
df['country']

0                      Mexico
1                      Mexico
2                      Jordan
3                     Vietnam
4                       China
5                       China
6                    Thailand
7                    Malaysia
8                    Cambodia
9                       India
10                      India
11                      India
12                      India
13                      India
14                      China
15              United States
16              United States
17              United States
18       United Arab Emirates
19                  Singapore
20             United Kingdom
21             United Kingdom
22                    Belgium
23                    Germany
24                    Belgium
25                     Poland
26                    Ecuador
27                    Ecuador
28                    Ecuador
29                   Colombia
                ...
700                   Germany
701                     Samoa
702    British Virgin Islands
703                    Mexico
704             United States
705             New Caledonia
706             United States
707                     India
708                     India
709                     India
710                     China
711                     China
712               North Korea
713                     China
714                  Malaysia
715                     China
716                 Australia
717                     India
718                     India
719                 Nicaragua
720                    Greece
721                   Finland
722            United Kingdom
723                    Brazil
724                     Japan
725                 Indonesia
726                   Germany
727                    Canada
728                    Brazil
729             United States
Name: country, Length: 730, dtype: object

In [55]:
df['country'][0]

'Mexico'

In [56]:
print(df.head(3))

   1br_studio_rent_in_center  adult_nightlife  air_quality_(year-round)  \
0                      492.0              4.0                      42.0
1                      223.0              3.0                      19.0
2                      503.0              2.0                      68.0

   airbnb_(monthly)  cashless_society  coca-cola  coffee  cost_of_living  \
0             946.0           1.00000       0.70    1.40             3.0
1             976.0           1.00000       0.63    1.11             3.0
2            1312.0           1.06622       0.54    0.70             3.0

   cost_of_living_for_expat  cost_of_living_for_local         ...          \
0                     961.0                     626.0         ...
1                     697.0                     349.0         ...
2                    1064.0                     631.0         ...

   religious_government  safe_tap_water  safety  startup_score  \
0                   0.0             0.0     1.0            3.0
1                   0.0             0.0     2.0            3.0
2                   1.0             0.0     3.0            2.0

   traffic_safety  walkability  nomad_score         region  country  \
0             4.0          4.0         4.03  Latin America   Mexico
1             4.0          4.0         4.51  Latin America   Mexico
2             1.0          1.0         4.45    Middle East   Jordan

           place_slug
0  mexico-city-mexico
1       cancun-mexico
2        amman-jordan

[3 rows x 32 columns]

In [57]:
Mexico = df[df['country']=='Mexico']

In [58]:
Mexico['place_slug']

0                mexico-city-mexico
1                     cancun-mexico
39                     tulum-mexico
95          playa-del-carmen-mexico
123              guadalajara-mexico
171                   oaxaca-mexico
211                monterrey-mexico
212                  tijuana-mexico
300          puerto-vallarta-mexico
301    san-miguel-de-allende-mexico
365               hermosillo-mexico
403                   merida-mexico
536                   puebla-mexico
651                queretaro-mexico
703                   toluca-mexico
Name: place_slug, dtype: object

In [59]:
df[df['country']=='Mexico']['place_slug']

0                mexico-city-mexico
1                     cancun-mexico
39                     tulum-mexico
95          playa-del-carmen-mexico
123              guadalajara-mexico
171                   oaxaca-mexico
211                monterrey-mexico
212                  tijuana-mexico
300          puerto-vallarta-mexico
301    san-miguel-de-allende-mexico
365               hermosillo-mexico
403                   merida-mexico
536                   puebla-mexico
651                queretaro-mexico
703                   toluca-mexico
Name: place_slug, dtype: object

In [60]:
masks = ['country','place_slug','cost_of_living','cost_of_living_for_expat','cost_of_living_for_local']

In [44]:
df[masks][:20]

,country,place_slug,cost_of_living,cost_of_living_for_expat,cost_of_living_for_local
0,Mexico,mexico-city-mexico,3.0,961.0,626.0
1,Mexico,cancun-mexico,3.0,697.0,349.0
2,Jordan,amman-jordan,3.0,1064.0,631.0
3,Vietnam,ho-chi-minh-city-vietnam,3.0,789.0,522.0
4,China,hong-kong-china,1.0,2801.0,2347.0
5,China,zhuhai-china,3.0,1053.0,686.0
6,Thailand,phuket-thailand,3.0,891.0,591.0
7,Malaysia,kuala-lumpur-malaysia,3.0,1067.0,832.0
8,Cambodia,phnom-penh-cambodia,3.0,907.0,579.0
9,India,chennai-india,3.0,506.0,228.0
10,India,jaipur-india,3.0,458.0,200.0
11,India,agra-india,3.0,454.0,237.0
12,India,delhi-india,3.0,735.0,362.0
13,India,mumbai-india,3.0,984.0,658.0
14,China,shenzhen-china,3.0,1226.0,940.0
15,United States,washington-dc-united-states,1.0,3258.0,2422.0
16,United States,madison-wi-united-states,1.0,2274.0,1281.0
17,United States,boston-ma-united-states,1.0,3270.0,2432.0
18,United Arab Emirates,dubai-united-arab-emirates,1.0,2879.0,2284.0
19,Singapore,singapore-singapore,2.0,2661.0,2193.0

In [47]:
df[masks][df['country']=='Japan']

,country,place_slug,cost_of_living,cost_of_living_for_expat,cost_of_living_for_local
83,Japan,osaka-japan,2.0,1748.0,966.0
97,Japan,kobe-japan,2.0,1339.0,959.0
113,Japan,tokyo-japan,1.0,2133.0,1592.0
172,Japan,kyoto-japan,2.0,1889.0,922.0
342,Japan,hiroshima-japan,2.0,1611.0,1015.0
376,Japan,fukuoka-japan,3.0,1251.0,918.0
492,Japan,sapporo-japan,2.0,1804.0,978.0
497,Japan,naha-okinawa-japan,2.0,1391.0,1051.0
542,Japan,sendai-japan,3.0,1212.0,905.0
551,Japan,okayama-japan,3.0,1291.0,805.0
582,Japan,nagoya-japan,2.0,1271.0,936.0
645,Japan,okinawa-okinawa-japan,2.0,1426.0,885.0
669,Japan,hamamatsu-japan,3.0,1570.0,970.0
724,Japan,yokohama-japan,2.0,1608.0,1342.0

In [48]:
df[masks][df['cost_of_living']>3.0]

,country,place_slug,cost_of_living,cost_of_living_for_expat,cost_of_living_for_local
238,India,varkala-india,4.0,548.278920,535.992344
554,Sudan,khartoum-sudan,4.0,375.000000,233.000000
558,India,moradabad-india,4.0,528.237655,254.000000
708,India,bareilly-india,4.0,633.076890,285.144072

In [50]:
print(df['region'].drop_duplicates())

0     Latin America
2       Middle East
3              Asia
15    North America
20           Europe
52          Oceania
99           Africa
Name: region, dtype: object

In [63]:
cost = 3.0

In [64]:
df[masks][df['cost_of_living'] >= cost]

,country,place_slug,cost_of_living,cost_of_living_for_expat,cost_of_living_for_local
0,Mexico,mexico-city-mexico,3.0,961.000000,626.000000
1,Mexico,cancun-mexico,3.0,697.000000,349.000000
2,Jordan,amman-jordan,3.0,1064.000000,631.000000
3,Vietnam,ho-chi-minh-city-vietnam,3.0,789.000000,522.000000
5,China,zhuhai-china,3.0,1053.000000,686.000000
6,Thailand,phuket-thailand,3.0,891.000000,591.000000
7,Malaysia,kuala-lumpur-malaysia,3.0,1067.000000,832.000000
8,Cambodia,phnom-penh-cambodia,3.0,907.000000,579.000000
9,India,chennai-india,3.0,506.000000,228.000000
10,India,jaipur-india,3.0,458.000000,200.000000
11,India,agra-india,3.0,454.000000,237.000000
12,India,delhi-india,3.0,735.000000,362.000000
13,India,mumbai-india,3.0,984.000000,658.000000
14,China,shenzhen-china,3.0,1226.000000,940.000000
25,Poland,gdansk-poland,3.0,1019.000000,620.000000
26,Ecuador,quito-ecuador,3.0,792.000000,610.000000
27,Ecuador,cuenca-ecuador,3.0,810.000000,612.000000
28,Ecuador,guayaquil-ecuador,3.0,736.000000,624.000000
29,Colombia,pasto-colombia,3.0,378.000000,244.000000
30,Colombia,cali-colombia,3.0,609.000000,379.000000
31,Colombia,medellin-colombia,3.0,849.000000,619.000000
32,Colombia,santa-marta-colombia,3.0,711.000000,468.000000
33,Colombia,barranquilla-colombia,3.0,686.000000,442.000000
34,Colombia,cartagena-colombia,3.0,1077.000000,784.000000
35,Colombia,bogota-colombia,3.0,799.000000,550.000000
38,Poland,poznan-poland,3.0,891.000000,580.000000
39,Mexico,tulum-mexico,3.0,1072.000000,512.000000
40,Poland,warsaw-poland,3.0,1080.000000,724.000000
42,Thailand,ko-tao-thailand,3.0,1065.000000,399.000000
43,Thailand,ko-pha-ngan-thailand,3.0,723.000000,453.000000
...,...,...,...,...,...
675,Russia,ufa-russia,3.0,867.000000,523.000000
676,India,nagpur-india,3.0,595.000000,217.000000
677,India,thiruvananthapuram-india,3.0,416.000000,243.000000
681,Bosnia,banja-luka-bosnia,3.0,727.000000,395.000000
682,Bulgaria,burgas-bulgaria,3.0,1141.000000,527.000000
683,Argentina,mar-del-plata-argentina,3.0,569.000000,329.000000
685,Colombia,bucaramanga-colombia,3.0,539.000000,391.000000
687,China,xining-china,3.0,1004.000000,573.000000
688,Saudi Arabia,mecca-saudi-arabia,3.0,412.000000,267.000000
691,Russia,tomsk-russia,3.0,794.000000,522.000000
692,Kosovo,pristina-kosovo,3.0,771.000000,423.000000
693,Russia,samara-russia,3.0,935.000000,430.000000
697,Indonesia,malang-east-java-indonesia,3.0,488.000000,374.000000
703,Mexico,toluca-mexico,3.0,626.000000,493.000000
707,India,noida-india,3.0,547.000000,283.000000
708,India,bareilly-india,4.0,633.076890,285.144072
709,India,meerut-india,3.0,1037.617316,255.000000
710,China,fuzhou-china,3.0,954.000000,730.000000
711,China,shenyang-china,3.0,772.000000,648.000000
712,North Korea,sinuiju-north-korea,3.0,670.000000,431.000000
713,China,guiyang-china,3.0,533.000000,479.000000
714,Malaysia,penang-malaysia,3.0,782.000000,509.000000
715,China,wuhu-china,3.0,1017.000000,707.000000
717,India,kollam-india,3.0,972.159442,231.000000
718,India,madurai-india,3.0,374.000000,242.000000
719,Nicaragua,leon-nicaragua,3.0,494.000000,394.000000
723,Brazil,itapema-brazil,3.0,801.000000,459.000000
725,Indonesia,surakarta-indonesia,3.0,414.000000,331.000000
726,Germany,jena-germany,3.0,1275.000000,850.000000
728,Brazil,campinas-brazil,3.0,765.000000,492.000000

In [73]:
df_place = df[masks]['place_slug'][:10]

In [74]:
df_place

0          mexico-city-mexico
1               cancun-mexico
2                amman-jordan
3    ho-chi-minh-city-vietnam
4             hong-kong-china
5                zhuhai-china
6             phuket-thailand
7       kuala-lumpur-malaysia
8         phnom-penh-cambodia
9               chennai-india
Name: place_slug, dtype: object

In [31]:
city_mask = ['country','place_slug']

In [32]:
df_10 = df[city_mask][:10]

In [33]:
df_10

    country        place_slug
0    Mexico       mexico-city
1    Mexico            cancun
2    Jordan             amman
3   Vietnam  ho-chi-minh-city
4     China         hong-kong
5     China            zhuhai
6  Thailand            phuket
7  Malaysia      kuala-lumpur
8  Cambodia        phnom-penh
9     India           chennai

In [35]:
df_30 = df[city_mask][:30]

In [93]:
cities =[]

for d in df_10.iteritems():
    print (d)

('country', 0      Mexico
1      Mexico
2      Jordan
3     Vietnam
4       China
5       China
6    Thailand
7    Malaysia
8    Cambodia
9       India
Name: country, dtype: object)
('place_slug', 0          mexico-city-mexico
1               cancun-mexico
2                amman-jordan
3    ho-chi-minh-city-vietnam
4             hong-kong-china
5                zhuhai-china
6             phuket-thailand
7       kuala-lumpur-malaysia
8         phnom-penh-cambodia
9               chennai-india
Name: place_slug, dtype: object)

In [134]:
df_country = df_10['country'].str.lower()

In [116]:
df_city = df_10['place_slug']

In [117]:
for c in df_country:
    print(c)

mexico
mexico
jordan
vietnam
china
china
thailand
malaysia
cambodia
india

In [118]:
for c in df_city:
    print(c)

mexico-city-mexico
cancun-mexico
amman-jordan
ho-chi-minh-city-vietnam
hong-kong-china
zhuhai-china
phuket-thailand
kuala-lumpur-malaysia
phnom-penh-cambodia
chennai-india

In [135]:
i = 0
for c in df_country:
    df_country[i] = '-' + c
    i+=1

In [136]:
df_country

0      -mexico
1      -mexico
2      -jordan
3     -vietnam
4       -china
5       -china
6    -thailand
7    -malaysia
8    -cambodia
9       -india
Name: country, dtype: object

In [137]:
i =0
for c in df_country:
    df_city[i] = df_city[i].replace(c,'')
    print(df_city[i])
    i+=1

mexico-city
cancun
amman
ho-chi-minh-city
hong-kong
zhuhai
phuket
kuala-lumpur
phnom-penh
chennai

In [119]:
for d in df_10.itertuples():
    print (d)

Pandas(Index=0, country='Mexico', place_slug='mexico-city-mexico')
Pandas(Index=1, country='Mexico', place_slug='cancun-mexico')
Pandas(Index=2, country='Jordan', place_slug='amman-jordan')
Pandas(Index=3, country='Vietnam', place_slug='ho-chi-minh-city-vietnam')
Pandas(Index=4, country='China', place_slug='hong-kong-china')
Pandas(Index=5, country='China', place_slug='zhuhai-china')
Pandas(Index=6, country='Thailand', place_slug='phuket-thailand')
Pandas(Index=7, country='Malaysia', place_slug='kuala-lumpur-malaysia')
Pandas(Index=8, country='Cambodia', place_slug='phnom-penh-cambodia')
Pandas(Index=9, country='India', place_slug='chennai-india')

### Modify place name

In [28]:
df_country = df['country'].str.lower()
df_city = df['place_slug']

In [29]:
i = 0
for c in df_country:
    df_country[i] = '-' + c
    #print(c)
    if ' ' in c:
        print(c)
        
    i+=1

united states
united states
united states
united arab emirates
united kingdom
united kingdom
united kingdom
united states
united states
united states
united states
united states
new zealand
new zealand
new zealand
new zealand
united states
united states
south africa
united states
united states
united states
united states
united kingdom
united states
united states
united states
united states
united states
united states
united states
united states
united states
united kingdom
united states
united arab emirates
united states
south korea
united states
united states
united states
south korea
united states
united states
united states
united kingdom
united states
united states
united states
united states
united kingdom
united kingdom
south korea
united states
trinidad and tobago
united states
united states
united kingdom
united kingdom
united states
united kingdom
united kingdom
costa rica
united states
united states
united states
united states
united states
puerto rico
united states
sri lanka
new zealand
south korea
united states
united kingdom
united states
united states
united kingdom
united states
united kingdom
united kingdom
south africa
costa rica
united kingdom
united kingdom
north korea
costa rica
united states
south africa
united states
united states
dominican republic
el salvador
united states
united states
united states
united states
saudi arabia
united states
united states
united states
united states
united states
united states
united states
united kingdom
united kingdom
united kingdom
the bahamas
united states
united states
united states
united states
united kingdom
united kingdom
united kingdom
united states
united states
united states
united states
united kingdom
sri lanka
united states
saudi arabia
united states
united states
saudi arabia
united states
south korea
south korea
united states
united states
united states
east timor
united kingdom
united states
united states
united kingdom
north korea
south africa
united states
south africa
dominican republic
united states
cape verde
cayman islands
united states
united states
united states
sierra leone
united states
united states
united kingdom
saudi arabia
british virgin islands
united states
new caledonia
united states
north korea
united kingdom
united states

In [23]:
string = 'united states'
string.isspace()

False

In [14]:
i =0
for c in df_country:
    df_city[i] = df_city[i].replace(c,'')
    print(df_city[i])
    i+=1

"\ni =0\nfor c in df_country:\n    df_city[i] = df_city[i].replace(c,'')\n    print(df_city[i])\n    i+=1\n"

In [30]:
def place_name(df):
    df_country = df['country'].str.lower()
    df_city = df['place_slug']

    i = 0
    for c in df_country:
        df_country[i] = '-' + c
        #print(df_country[i])
        if ' ' in c:
            #print(c)
            df_country[i] = df_country[i].replace(' ','-')
        i+=1
    #print(df_country)
    
    j =0
    for cn in df_country:
        df_city[j] = df_city[j].replace(cn,'')
        #print(df_city[j])
        j+=1
    
    df['place_slug'] = df_city
    return df

In [36]:
place_name(df_30)

                 country        place_slug
0                 Mexico       mexico-city
1                 Mexico            cancun
2                 Jordan             amman
3                Vietnam  ho-chi-minh-city
4                  China         hong-kong
5                  China            zhuhai
6               Thailand            phuket
7               Malaysia      kuala-lumpur
8               Cambodia        phnom-penh
9                  India           chennai
10                 India            jaipur
11                 India              agra
12                 India             delhi
13                 India            mumbai
14                 China          shenzhen
15         United States     washington-dc
16         United States        madison-wi
17         United States         boston-ma
18  United Arab Emirates             dubai
19             Singapore         singapore
20        United Kingdom           glasgow
21        United Kingdom         edinburgh
22               Belgium            leuven
23               Germany            berlin
24               Belgium          brussels
25                Poland            gdansk
26               Ecuador             quito
27               Ecuador            cuenca
28               Ecuador         guayaquil
29              Colombia             pasto

In [5]:
df_new = place_name(df)

/Users/terry/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [11]:
df['place_slug']

0                           mexico-city
1                                cancun
2                                 amman
3                      ho-chi-minh-city
4                             hong-kong
5                                zhuhai
6                                phuket
7                          kuala-lumpur
8                            phnom-penh
9                               chennai
10                               jaipur
11                                 agra
12                                delhi
13                               mumbai
14                             shenzhen
15          washington-dc-united-states
16             madison-wi-united-states
17              boston-ma-united-states
18           dubai-united-arab-emirates
19                            singapore
20               glasgow-united-kingdom
21             edinburgh-united-kingdom
22                               leuven
23                               berlin
24                             brussels
25                               gdansk
26                                quito
27                               cuenca
28                            guayaquil
29                                pasto
                     ...
700                                 hof
701                                apia
702    road-town-british-virgin-islands
703                              toluca
704              salem-ma-united-states
705                noumea-new-caledonia
706         cincinnati-oh-united-states
707                               noida
708                            bareilly
709                              meerut
710                              fuzhou
711                            shenyang
712                 sinuiju-north-korea
713                             guiyang
714                              penang
715                                wuhu
716                          wollongong
717                              kollam
718                             madurai
719                                leon
720                              patras
721                                oulu
722                luton-united-kingdom
723                             itapema
724                            yokohama
725                           surakarta
726                                jena
727                       fort-mcmurray
728                            campinas
729              chico-ca-united-states
Name: place_slug, Length: 730, dtype: object

In [7]:
df_new['place_slug']

0                           mexico-city
1                                cancun
2                                 amman
3                      ho-chi-minh-city
4                             hong-kong
5                                zhuhai
6                                phuket
7                          kuala-lumpur
8                            phnom-penh
9                               chennai
10                               jaipur
11                                 agra
12                                delhi
13                               mumbai
14                             shenzhen
15          washington-dc-united-states
16             madison-wi-united-states
17              boston-ma-united-states
18           dubai-united-arab-emirates
19                            singapore
20               glasgow-united-kingdom
21             edinburgh-united-kingdom
22                               leuven
23                               berlin
24                             brussels
25                               gdansk
26                                quito
27                               cuenca
28                            guayaquil
29                                pasto
                     ...
700                                 hof
701                                apia
702    road-town-british-virgin-islands
703                              toluca
704              salem-ma-united-states
705                noumea-new-caledonia
706         cincinnati-oh-united-states
707                               noida
708                            bareilly
709                              meerut
710                              fuzhou
711                            shenyang
712                 sinuiju-north-korea
713                             guiyang
714                              penang
715                                wuhu
716                          wollongong
717                              kollam
718                             madurai
719                                leon
720                              patras
721                                oulu
722                luton-united-kingdom
723                             itapema
724                            yokohama
725                           surakarta
726                                jena
727                       fort-mcmurray
728                            campinas
729              chico-ca-united-states
Name: place_slug, Length: 730, dtype: object

In [16]:
def query_df(region, cost, safety):
    data_new = df.copy()

    # Filter the data set by region first
    if region:
        data_new = data_new[data_new['region']==region]
    
    if cost:
        data_new = data_new[data_new['cost_of_living'] >= cost]
    
    if safety:
        data_new = data_new[data_new['safety'] >= safety]

    return data_new

In [21]:
region = 'Asia'
cost = 3
safety = 3

df_new = query_df(region,cost,safety)
#df_new = place_name(df_new)
#df_new['place_slug']

In [22]:
df_new = place_name(df_new)

-vietnam
-china
-thailand
-malaysia
-china
-vietnam
-thailand
-thailand
-thailand
-indonesia
-thailand
-cambodia
-thailand
-vietnam
-china
-taiwan
-vietnam
-china
-china
-indonesia
-south korea
-thailand
-india
-nepal
-malaysia
-china
-china
-vietnam
-indonesia
-indonesia
-indonesia
-south korea
-indonesia
-indonesia
-indonesia
-indonesia
-vietnam
-china
-sri lanka
-china
-south korea
-taiwan
-china
-china
-china
-japan
-china
-china
-malaysia
-maldives
-china
-indonesia
-china
-china
-china
-india
-india
-taiwan
-indonesia
-taiwan
-china
-china
-china
-china
-china
-china
-vietnam
-sri lanka
-kazakhstan
-japan
-brunei
-india
-japan
-china
-south korea
-indonesia
-china
-kazakhstan
-china
-china
-china
-indonesia
-japan
-china
-indonesia
-china
-china
-china
-malaysia
-china
-indonesia
3         -malaysia
5          -vietnam
6         -thailand
7         -thailand
14           -china
44           -china
45           -japan
46           -china
47           -china
48        -malaysia
117        thailand
118        cambodia
119        thailand
120         vietnam
121           china
122          taiwan
144         vietnam
151           china
170           china
183       indonesia
191     south korea
192        thailand
195           india
196           nepal
199        malaysia
204           china
208           china
218         vietnam
223       indonesia
224       indonesia
           ...
61           -china
62           -china
63           -china
64           -china
65           -china
66         -vietnam
67       -sri lanka
68      -kazakhstan
69           -japan
70          -brunei
71           -india
72           -japan
73           -china
74     -south korea
75       -indonesia
76           -china
77      -kazakhstan
78           -china
79           -china
80           -china
81       -indonesia
82           -japan
83           -china
84       -indonesia
85           -china
86           -china
87           -china
88        -malaysia
89           -china
90       -indonesia
Name: country, Length: 172, dtype: object

KeyError: 0

In [23]:
df_country

0                      -mexico
1                      -mexico
2                      -jordan
3                     -vietnam
4                       -china
5                       -china
6                    -thailand
7                    -malaysia
8                    -cambodia
9                       -india
10                      -india
11                      -india
12                      -india
13                      -india
14                      -china
15              -united states
16              -united states
17              -united states
18       -united arab emirates
19                  -singapore
20             -united kingdom
21             -united kingdom
22                    -belgium
23                    -germany
24                    -belgium
25                     -poland
26                    -ecuador
27                    -ecuador
28                    -ecuador
29                   -colombia
                ...
700                   -germany
701                     -samoa
702    -british virgin islands
703                    -mexico
704             -united states
705             -new caledonia
706             -united states
707                     -india
708                     -india
709                     -india
710                     -china
711                     -china
712               -north korea
713                     -china
714                  -malaysia
715                     -china
716                 -australia
717                     -india
718                     -india
719                 -nicaragua
720                    -greece
721                   -finland
722            -united kingdom
723                    -brazil
724                     -japan
725                 -indonesia
726                   -germany
727                    -canada
728                    -brazil
729             -united states
Name: country, Length: 730, dtype: object

In [24]:
df_new

,1br_studio_rent_in_center,adult_nightlife,air_quality_(year-round),airbnb_(monthly),cashless_society,coca-cola,coffee,cost_of_living,cost_of_living_for_expat,cost_of_living_for_local,...,religious_government,safe_tap_water,safety,startup_score,traffic_safety,walkability,nomad_score,region,country,place_slug
3,426.000000,2.0,23.0,885.000000,2.000000,0.44,1.41,3.0,789.000000,522.000000,...,0.0,0.0,3.0,3.0,3.0,4.0,4.83,Asia,Vietnam,ho-chi-minh-city-vietnam
5,401.000000,2.0,59.0,1586.000000,3.000000,0.53,3.90,3.0,1053.000000,686.000000,...,0.0,0.0,3.0,3.0,3.0,4.0,3.52,Asia,China,zhuhai-china
6,418.000000,3.0,24.0,1312.000000,3.000000,0.69,2.35,3.0,891.000000,591.000000,...,0.0,0.0,3.0,3.0,1.0,2.0,4.54,Asia,Thailand,phuket-thailand
7,619.000000,4.0,29.0,976.000000,1.000000,0.62,2.47,3.0,1067.000000,832.000000,...,1.0,0.0,3.0,3.0,1.0,4.0,4.45,Asia,Malaysia,kuala-lumpur-malaysia
14,691.000000,2.0,61.0,1312.000000,3.000000,0.61,3.51,3.0,1226.000000,940.000000,...,0.0,0.0,3.0,3.0,3.0,4.0,4.25,Asia,China,shenzhen-china
44,239.000000,2.0,21.0,1037.000000,2.000000,0.31,0.43,3.0,575.000000,274.000000,...,0.0,0.0,3.0,3.0,3.0,4.0,4.24,Asia,Vietnam,hoi-an-vietnam
45,347.000000,2.0,46.0,1007.000000,3.000000,0.40,2.22,3.0,728.000000,509.000000,...,0.0,0.0,3.0,3.0,1.0,4.0,4.97,Asia,Thailand,chiang-mai-thailand
46,452.000000,2.0,15.0,976.000000,3.000000,0.75,2.19,3.0,950.000000,626.000000,...,0.0,0.0,3.0,3.0,1.0,1.0,3.49,Asia,Thailand,ko-lanta-thailand
47,628.000000,4.0,42.0,1342.000000,3.000000,0.61,2.38,3.0,1080.000000,778.000000,...,0.0,0.0,3.0,3.0,1.0,4.0,4.90,Asia,Thailand,bangkok-thailand
48,421.000000,2.0,39.0,1220.000000,1.000000,0.35,1.75,3.0,836.000000,546.000000,...,1.0,0.0,3.0,3.0,3.0,4.0,4.40,Asia,Indonesia,ubud-bali-indonesia
117,602.000000,2.0,7.0,1769.000000,3.000000,0.88,2.26,3.0,1126.000000,733.000000,...,0.0,0.0,3.0,3.0,1.0,1.0,3.64,Asia,Thailand,ko-samui-thailand
118,354.000000,3.0,50.0,1464.000000,1.000000,0.67,1.74,3.0,873.000000,486.000000,...,1.0,0.0,3.0,2.0,4.0,4.0,3.87,Asia,Cambodia,siem-reap-cambodia
119,296.000000,2.0,13.0,763.000000,3.000000,0.30,1.51,3.0,587.000000,416.000000,...,0.0,0.0,3.0,3.0,1.0,4.0,3.88,Asia,Thailand,pai-thailand
120,425.000000,2.0,30.0,854.000000,2.000000,0.43,1.27,3.0,691.000000,492.000000,...,0.0,0.0,3.0,3.0,3.0,4.0,3.96,Asia,Vietnam,hanoi-vietnam
121,717.000000,2.0,84.0,1525.000000,3.000000,1.00,3.95,3.0,1399.000000,1031.000000,...,0.0,0.0,3.0,3.0,3.0,4.0,4.26,Asia,China,shanghai-china
122,656.000000,3.0,10.0,1586.000000,1.000000,0.86,3.37,3.0,1270.000000,904.000000,...,0.0,0.0,3.0,3.0,4.0,4.0,4.27,Asia,Taiwan,taipei-taiwan
144,455.000000,2.0,14.0,1373.000000,2.000000,0.44,1.02,3.0,880.000000,514.000000,...,0.0,0.0,3.0,3.0,3.0,2.0,4.20,Asia,Vietnam,da-nang-vietnam
151,534.000000,3.0,65.0,641.000000,3.000000,0.51,4.19,3.0,971.000000,872.000000,...,0.0,0.0,3.0,2.0,3.0,1.0,3.55,Asia,China,dongguan-china
170,392.000000,2.0,106.0,1098.000000,3.000000,0.46,1.00,3.0,759.000000,451.000000,...,0.0,0.0,3.0,3.0,3.0,4.0,4.22,Asia,China,hangzhou-china
183,366.000000,2.0,20.0,1190.000000,1.000000,0.58,1.75,3.0,837.000000,509.000000,...,1.0,0.0,3.0,3.0,3.0,2.0,4.80,Asia,Indonesia,canggu-bali-indonesia
191,585.000000,2.0,48.0,1464.000000,3.000000,1.14,4.79,3.0,1330.000000,963.000000,...,0.0,1.0,4.0,3.0,4.0,1.0,4.51,Asia,South Korea,busan-south-korea
192,151.000000,2.0,15.0,2013.000000,3.000000,0.75,2.26,3.0,828.000000,340.000000,...,0.0,0.0,3.0,3.0,1.0,1.0,2.98,Asia,Thailand,ko-phi-phi-thailand
195,119.000000,2.0,138.0,763.000000,1.000000,0.45,1.15,3.0,446.000000,248.000000,...,1.0,0.0,3.0,2.0,3.0,4.0,3.80,Asia,India,varanasi-india
196,137.000000,2.0,88.0,702.000000,1.000000,0.37,0.95,3.0,439.000000,247.000000,...,0.0,0.0,3.0,2.0,3.0,4.0,4.14,Asia,Nepal,kathmandu-nepal
199,272.000000,2.0,26.0,702.000000,1.000000,0.59,1.98,3.0,637.000000,465.000000,...,1.0,0.0,3.0,3.0,1.0,2.0,4.06,Asia,Malaysia,kuching-malaysia
204,376.000000,2.0,150.0,946.000000,3.000000,0.41,0.75,3.0,678.000000,420.000000,...,0.0,0.0,3.0,2.0,3.0,4.0,4.14,Asia,China,chengdu-china
208,601.000000,2.0,72.0,1190.000000,3.000000,0.43,0.95,3.0,1030.000000,651.000000,...,0.0,0.0,3.0,3.0,3.0,4.0,3.97,Asia,China,guangzhou-china
218,218.000000,2.0,12.0,793.000000,2.000000,0.44,1.31,3.0,555.000000,332.000000,...,0.0,0.0,3.0,3.0,3.0,1.0,4.35,Asia,Vietnam,da-lat-vietnam
223,210.000000,2.0,49.0,1251.000000,1.000000,0.23,0.58,3.0,571.000000,254.000000,...,1.0,0.0,3.0,2.0,3.0,4.0,3.64,Asia,Indonesia,kuta-bali-indonesia
224,123.000000,2.0,47.0,1220.000000,1.000000,0.52,1.82,3.0,554.000000,269.000000,...,1.0,0.0,3.0,3.0,3.0,4.0,4.21,Asia,Indonesia,denpasar-bali-indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,265.000000,2.0,146.0,1464.000000,3.000000,0.60,4.61,3.0,913.000000,627.000000,...,0.0,0.0,3.0,2.0,3.0,1.0,3.34,Asia,China,hohhot-china
516,346.000000,2.0,51.0,1037.000000,3.000000,0.54,0.00,3.0,703.000000,394.000000,...,0.0,0.0,3.0,2.0,3.0,4.0,3.52,Asia,China,zhangjiakou-china
517,179.000000,2.0,98.0,641.000000,3.000000,0.50,4.23,3.0,636.000000,530.000000,...,0.0,0.0,3.0,2.0,3.0,2.0,3.52,Asia,China,huaian-china
518,214.000000,2.0,116.0,915.000000,3.000000,0.35,0.50,3.0,527.000000,261.000000,...,0.0,0.0,3.0,2.0,3.0,4.0,4.09,Asia,China,nanchang-china
519,450.000000,2.0,94.0,1555.299255,3.000000,0.46,3.87,3.0,1019.000000,754.000000,...,0.0,0.0,3.0,2.0,3.0,1.0,3.52,Asia,China,changsha-china
523,216.567388,2.0,17.0,1312.000000,2.000000,0.29,0.58,3.0,518.000000,588.818419,...,0.0,0.0,3.0,3.0,3.0,4.0,3.97,Asia,Vietnam,mui-ne-vietnam
533,90.000000,2.0,43.0,1281.000000,1.000000,0.68,1.86,3.0,621.000000,278.000000,...,1.0,0.0,3.0,3.0,4.0,1.0,3.88,Asia,Sri Lanka,kandy-sri-lanka
535,292.000000,2.0,50.0,1037.000000,1.876661,0.68,1.94,3.0,836.000000,482.000000,...,0.0,0.0,3.0,3.0,3.0,1.0,3.82,Asia,Kazakhstan,almaty-kazakhstan
542,580.000000,2.0,22.0,976.000000,2.000000,1.10,3.35,3.0,1212.000000,905.000000,...,0.0,1.0,4.0,3.0,4.0,2.0,3.03,Asia,Japan,sendai-japan
545,405.000000,2.0,50.0,793.000000,2.048322,0.61,3.08,3.0,883.000000,711.000000,...,1.0,1.0,3.0,3.0,4.0,2.0,3.98,Asia,Brunei,bandar-seri-begawan-brunei
550,139.000000,2.0,21.0,2379.000000,1.000000,0.31,1.75,3.0,901.000000,300.000000,...,1.0,0.0,3.0,3.0,3.0,4.0,3.89,Asia,India,visakhapatnam-india
551,510.000000,2.0,31.0,1600.444898,2.000000,1.30,3.10,3.0,1291.000000,805.000000,...,0.0,1.0,3.0,3.0,4.0,1.0,3.55,Asia,Japan,okayama-japan
576,307.000000,2.0,146.0,1129.000000,3.000000,0.44,4.16,3.0,921.000000,700.000000,...,0.0,0.0,3.0,2.0,3.0,2.0,3.37,Asia,China,urumqi-china
587,534.000000,2.0,41.0,824.000000,3.000000,1.33,4.31,3.0,1088.000000,888.000000,...,0.0,1.0,4.0,4.0,4.0,4.0,4.56,Asia,South Korea,daejeon-south-korea
590,210.000000,2.0,45.0,1281.000000,1.000000,0.23,0.70,3.0,580.000000,258.000000,...,1.0,0.0,3.0,2.0,3.0,4.0,4.02,Asia,Indonesia,sanur-bali-indonesia
591,154.000000,2.0,88.0,1891.000000,3.000000,0.48,3.97,3.0,845.000000,430.000000,...,0.0,0.0,3.0,3.0,3.0,4.0,3.49,Asia,China,yiwu-china
617,389.000000,2.0,50.0,1159.000000,1.750210,0.00,0.00,3.0,787.000000,375.000000,...,0.0,0.0,3.0,3.0,3.0,2.0,4.02,Asia,Kazakhstan,astana-kazakhstan
620,376.000000,2.0,86.0,1129.000000,3.000000,0.50,4.03,3.0,922.000000,694.000000,...,0.0,0.0,3.0,3.0,3.0,1.0,3.77,Asia,China,ningbo-china
634,330.000000,2.0,101.0,1525.000000,3.000000,0.48,4.38,3.0,1010.000000,685.000000,...,0.0,0.0,3.0,2.0,3.0,4.0,3.44,Asia,China,wuxi-china
657,375.000000,2.0,106.0,721.700910,3.000000,0.50,1.00,3.0,792.000000,478.000000,...,0.0,0.0,3.0,3.0,3.0,4.0,4.11,Asia,China,qingdao-china
665,142.000000,2.0,11.0,427.000000,1.000000,0.30,0.47,3.0,659.117283,197.000000,...,1.0,0.0,3.0,3.0,3.0,1.0,3.43,Asia,Indonesia,makassar-indonesia
669,700.000000,2.0,13.0,1901.703865,2.000000,1.17,2.88,3.0,1570.000000,970.000000,...,0.0,1.0,4.0,3.0,4.0,4.0,3.10,Asia,Japan,hamamatsu-japan
687,559.000000,2.0,163.0,1678.000000,3.000000,0.58,0.00,3.0,1004.000000,573.000000,...,0.0,0.0,3.0,2.0,3.0,4.0,3.34,Asia,China,xining-china
697,301.000000,2.0,42.0,458.000000,1.000000,0.30,1.06,3.0,488.000000,374.000000,...,1.0,0.0,3.0,3.0,3.0,1.0,3.86,Asia,Indonesia,malang-east-java-indonesia
710,415.000000,2.0,64.0,1196.708247,3.000000,0.49,3.91,3.0,954.000000,730.000000,...,0.0,0.0,3.0,2.0,3.0,4.0,3.56,Asia,China,fuzhou-china
711,319.000000,2.0,129.0,824.000000,3.000000,0.50,4.50,3.0,772.000000,648.000000,...,0.0,0.0,3.0,2.0,3.0,4.0,3.45,Asia,China,shenyang-china
713,181.000000,2.0,85.0,702.000000,3.000000,0.22,4.20,3.0,533.000000,479.000000,...,0.0,0.0,3.0,3.0,3.0,1.0,3.52,Asia,China,guiyang-china
714,272.000000,2.0,26.0,1129.000000,1.000000,0.65,2.25,3.0,782.000000,509.000000,...,1.0,0.0,3.0,2.0,1.0,4.0,4.23,Asia,Malaysia,penang-malaysia
715,703.000000,2.0,92.0,1159.000000,3.000000,0.53,0.00,3.0,1017.000000,707.000000,...,0.0,0.0,3.0,2.0,3.0,1.0,3.47,Asia,China,wuhu-china
725,263.000000,2.0,94.0,427.000000,1.000000,0.41,1.41,3.0,414.000000,331.000000,...,1.0,0.0,3.0,2.0,3.0,4.0,3.53,Asia,Indonesia,surakarta-indonesia

## Try to fix an error on main.py

In [37]:
def place_name(df):
    df_country = df['country'].str.lower()
    df_city = df['place_slug']

    i = 0
    for c in df_country:
        df_country[i] = '-' + c
        if ' ' in c:
            df_country[i] = df_country[i].replace(' ','-')
        i+=1

    j =0
    for cn in df_country:
        df_city[j] = df_city[j].replace(cn,'')
        #print(df_city[j])
        j+=1
    
    df['place_slug'] = df_city
    return df['place_slug']

In [111]:
df = pd.read_csv('data/cities_predict.csv')

In [112]:
df_test = df[:3]

In [113]:
df_test

,1br_studio_rent_in_center,adult_nightlife,air_quality_(year-round),airbnb_(monthly),cashless_society,coca-cola,coffee,cost_of_living,cost_of_living_for_expat,cost_of_living_for_local,...,religious_government,safe_tap_water,safety,startup_score,traffic_safety,walkability,nomad_score,region,country,place_slug
0,492.0,4.0,42.0,946.0,1.00000,0.70,1.40,3.0,961.0,626.0,...,0.0,0.0,1.0,3.0,4.0,4.0,4.03,Latin America,Mexico,mexico-city-mexico
1,223.0,3.0,19.0,976.0,1.00000,0.63,1.11,3.0,697.0,349.0,...,0.0,0.0,2.0,3.0,4.0,4.0,4.51,Latin America,Mexico,cancun-mexico
2,503.0,2.0,68.0,1312.0,1.06622,0.54,0.70,3.0,1064.0,631.0,...,1.0,0.0,3.0,2.0,1.0,1.0,4.45,Middle East,Jordan,amman-jordan

In [94]:
df = pd.read_csv('data/cities_predict.csv')

In [87]:
df_country2 = df.loc[:,'country']
#df_city2 = df['place_slug']

In [88]:
df_country2

0                      Mexico
1                      Mexico
2                      Jordan
3                     Vietnam
4                       China
5                       China
6                    Thailand
7                    Malaysia
8                    Cambodia
9                       India
10                      India
11                      India
12                      India
13                      India
14                      China
15              United States
16              United States
17              United States
18       United Arab Emirates
19                  Singapore
20             United Kingdom
21             United Kingdom
22                    Belgium
23                    Germany
24                    Belgium
25                     Poland
26                    Ecuador
27                    Ecuador
28                    Ecuador
29                   Colombia
                ...
700                   Germany
701                     Samoa
702    British Virgin Islands
703                    Mexico
704             United States
705             New Caledonia
706             United States
707                     India
708                     India
709                     India
710                     China
711                     China
712               North Korea
713                     China
714                  Malaysia
715                     China
716                 Australia
717                     India
718                     India
719                 Nicaragua
720                    Greece
721                   Finland
722            United Kingdom
723                    Brazil
724                     Japan
725                 Indonesia
726                   Germany
727                    Canada
728                    Brazil
729             United States
Name: country, Length: 730, dtype: object

In [98]:
i = 0
countries = []
for c in df.loc[:,'country'].str.lower():
    countries.append('-' + c)
    if ' ' in c:
        countries[i] = countries[i].replace(' ','-')
    i+=1
countries

['-mexico',
 '-mexico',
 '-jordan',
 '-vietnam',
 '-china',
 '-china',
 '-thailand',
 '-malaysia',
 '-cambodia',
 '-india',
 '-india',
 '-india',
 '-india',
 '-india',
 '-china',
 '-united-states',
 '-united-states',
 '-united-states',
 '-united-arab-emirates',
 '-singapore',
 '-united-kingdom',
 '-united-kingdom',
 '-belgium',
 '-germany',
 '-belgium',
 '-poland',
 '-ecuador',
 '-ecuador',
 '-ecuador',
 '-colombia',
 '-colombia',
 '-colombia',
 '-colombia',
 '-colombia',
 '-colombia',
 '-colombia',
 '-denmark',
 '-belgium',
 '-poland',
 '-mexico',
 '-poland',
 '-spain',
 '-thailand',
 '-thailand',
 '-vietnam',
 '-thailand',
 '-thailand',
 '-thailand',
 '-indonesia',
 '-portugal',
 '-ireland',
 '-united-kingdom',
 '-australia',
 '-united-states',
 '-sweden',
 '-norway',
 '-norway',
 '-united-states',
 '-united-states',
 '-germany',
 '-germany',
 '-austria',
 '-slovakia',
 '-hungary',
 '-iceland',
 '-united-states',
 '-united-states',
 '-thailand',
 '-germany',
 '-netherlands',
 '-sweden',
 '-norway',
 '-norway',
 '-australia',
 '-australia',
 '-new-zealand',
 '-new-zealand',
 '-new-zealand',
 '-new-zealand',
 '-australia',
 '-czechia',
 '-switzerland',
 '-italy',
 '-japan',
 '-spain',
 '-thailand',
 '-spain',
 '-spain',
 '-malta',
 '-spain',
 '-india',
 '-italy',
 '-canada',
 '-united-states',
 '-united-states',
 '-mexico',
 '-croatia',
 '-japan',
 '-canada',
 '-south-africa',
 '-united-states',
 '-luxembourg',
 '-belgium',
 '-canada',
 '-united-states',
 '-france',
 '-netherlands',
 '-argentina',
 '-austria',
 '-united-states',
 '-united-states',
 '-united-kingdom',
 '-ireland',
 '-japan',
 '-united-states',
 '-canada',
 '-australia',
 '-thailand',
 '-cambodia',
 '-thailand',
 '-vietnam',
 '-china',
 '-taiwan',
 '-mexico',
 '-united-states',
 '-united-states',
 '-united-states',
 '-united-states',
 '-italy',
 '-united-states',
 '-united-states',
 '-finland',
 '-spain',
 '-brazil',
 '-switzerland',
 '-canada',
 '-united-states',
 '-bulgaria',
 '-france',
 '-egypt',
 '-turkey',
 '-montenegro',
 '-croatia',
 '-france',
 '-vietnam',
 '-turkey',
 '-spain',
 '-spain',
 '-morocco',
 '-switzerland',
 '-germany',
 '-china',
 '-united-states',
 '-greece',
 '-greece',
 '-thailand',
 '-russia',
 '-russia',
 '-philippines',
 '-morocco',
 '-united-kingdom',
 '-spain',
 '-spain',
 '-morocco',
 '-morocco',
 '-italy',
 '-india',
 '-netherlands',
 '-united-states',
 '-brazil',
 '-china',
 '-mexico',
 '-japan',
 '-brazil',
 '-serbia',
 '-united-arab-emirates',
 '-lebanon',
 '-bahrain',
 '-india',
 '-india',
 '-qatar',
 '-united-states',
 '-philippines',
 '-indonesia',
 '-south-korea',
 '-united-states',
 '-france',
 '-monaco',
 '-france',
 '-united-states',
 '-united-states',
 '-south-korea',
 '-thailand',
 '-united-states',
 '-united-states',
 '-india',
 '-nepal',
 '-united-states',
 '-united-kingdom',
 '-malaysia',
 '-germany',
 '-belgium',
 '-germany',
 '-united-states',
 '-china',
 '-united-states',
 '-canada',
 '-china',
 '-china',
 '-united-states',
 '-united-states',
 '-mexico',
 '-mexico',
 '-peru',
 '-peru',
 '-nicaragua',
 '-guatemala',
 '-united-kingdom',
 '-vietnam',
 '-united-kingdom',
 '-romania',
 '-romania',
 '-italy',
 '-indonesia',
 '-indonesia',
 '-indonesia',
 '-south-korea',
 '-china',
 '-spain',
 '-portugal',
 '-portugal',
 '-france',
 '-gibraltar',
 '-cyprus',
 '-brazil',
 '-israel',
 '-india',
 '-india',
 '-india',
 '-india',
 '-india',
 '-india',
 '-spain',
 '-united-states',
 '-indonesia',
 '-croatia',
 '-czechia',
 '-indonesia',
 '-ukraine',
 '-slovenia',
 '-greece',
 '-greece',
 '-italy',
 '-spain',
 '-canada',
 '-canada',
 '-france',
 '-indonesia',
 '-indonesia',
 '-sweden',
 '-trinidad-and-tobago',
 '-austria',
 '-vietnam',
 '-switzerland',
 '-switzerland',
 '-australia',
 '-italy',
 '-brazil',
 '-united-states',
 '-united-states',
 '-united-kingdom',
 '-united-kingdom',
 '-argentina',
 '-argentina',
 '-united-states',
 '-bolivia',
 '-bolivia',
 '-uruguay',
 '-paraguay',
 '-brazil',
 '-brazil',
 '-united-kingdom',
 '-united-kingdom',
 '-croatia',
 '-tanzania',
 '-italy',
 '-oman',
 '-costa-rica',
 '-argentina',
 '-united-states',
 '-united-states',
 '-canada',
 '-france',
 '-kenya',
 '-uganda',
 '-rwanda',
 '-israel',
 '-egypt',
 '-bulgaria',
 '-philippines',
 '-mexico',
 '-mexico',
 '-panama',
 '-united-states',
 '-ukraine',
 '-lithuania',
 '-georgia',
 '-united-states',
 '-united-states',
 '-china',
 '-mongolia',
 '-poland',
 '-chile',
 '-puerto-rico',
 '-uruguay',
 '-netherlands',
 '-united-states',
 '-sri-lanka',
 '-australia',
 '-fiji',
 '-morocco',
 '-laos',
 '-china',
 '-new-zealand',
 '-south-korea',
 '-cuba',
 '-india',
 '-ethiopia',
 '-netherlands',
 '-united-states',
 '-romania',
 '-united-kingdom',
 '-italy',
 '-poland',
 '-united-states',
 '-united-states',
 '-laos',
 '-myanmar',
 '-taiwan',
 '-china',
 '-china',
 '-china',
 '-japan',
 '-azerbaijan',
 '-armenia',
 '-latvia',
 '-estonia',
 '-italy',
 '-switzerland',
 '-germany',
 '-kyrgyzstan',
 '-italy',
 '-germany',
 '-united-kingdom',
 '-ireland',
 '-panama',
 '-netherlands',
 '-macedonia',
 '-united-states',
 '-italy',
 '-france',
 '-united-kingdom',
 '-united-kingdom',
 '-venezuela',
 '-italy',
 '-mexico',
 '-south-africa',
 '-guatemala',
 '-belize',
 '-belize',
 '-madagascar',
 '-thailand',
 '-costa-rica',
 '-poland',
 '-lithuania',
 '-united-kingdom',
 '-japan',
 '-united-kingdom',
 '-australia',
 '-netherlands',
 '-netherlands',
 '-north-korea',
 '-france',
 '-iran',
 '-bangladesh',
 '-costa-rica',
 '-united-states',
 '-germany',
 '-senegal',
 '-south-africa',
 '-netherlands',
 '-spain',
 '-italy',
 '-france',
 '-united-states',
 '-morocco',
 '-morocco',
 '-morocco',
 '-united-states',
 '-dominican-republic',
 '-italy',
 '-china',
 '-china',
 '-mexico',
 '-chile',
 '-france',
 '-montenegro',
 '-italy',
 '-brazil',
 '-germany',
 '-el-salvador',
 '-china',
 '-poland',
 '-france',
 '-austria',
 '-thailand',
 '-brazil',
 '-united-states',
 '-united-states',
 '-turkey',
 '-philippines',
 '-malaysia',
 '-united-states',
 '-united-states',
 '-saudi-arabia',
 '-united-states',
 '-canada',
 '-united-states',
 '-canada',
 '-canada',
 '-canada',
 '-netherlands',
 '-thailand',
 '-italy',
 '-maldives',
 '-united-states',
 '-turkey',
 '-china',
 '-colombia',
 '-russia',
 '-moldova',
 '-belarus',
 '-united-states',
 '-seychelles',
 '-belize',
 '-united-states',
 '-spain',
 '-germany',
 '-germany',
 '-malaysia',
 '-united-states',
 '-united-states',
 '-germany',
 '-russia',
 '-philippines',
 '-pakistan',
 '-united-kingdom',
 '-indonesia',
 '-united-kingdom',
 '-mauritius',
 '-thailand',
 '-egypt',
 '-brazil',
 '-united-kingdom',
 '-the-bahamas',
 '-united-states',
 '-india',
 '-united-states',
 '-china',
 '-china',
 '-china',
 '-bulgaria',
 '-malaysia',
 '-australia',
 '-canada',
 '-ukraine',
 '-united-states',
 '-united-states',
 '-united-kingdom',
 '-united-kingdom',
 '-united-kingdom',
 '-portugal',
 '-australia',
 '-united-states',
 '-united-states',
 '-slovakia',
 '-spain',
 '-india',
 '-india',
 '-india',
 '-india',
 '-india',
 '-japan',
 '-canada',
 '-romania',
 '-italy',
 '-taiwan',
 '-japan',
 '-france',
 '-portugal',
 '-brazil',
 '-cyprus',
 '-brazil',
 '-greece',
 '-brazil',
 '-philippines',
 '-poland',
 '-malaysia',
 '-indonesia',
 '-taiwan',
 '-india',
 '-china',
 '-namibia',
 '-zambia',
 '-mozambique',
 '-china',
 '-china',
 '-china',
 '-china',
 '-china',
 '-spain',
 '-serbia',
 '-portugal',
 '-vietnam',
 '-albania',
 '-cameroon',
 '-cameroon',
 '-united-states',
 '-united-states',
 '-united-kingdom',
 '-russia',
 '-italy',
 '-turkey',
 '-sri-lanka',
 '-uzbekistan',
 '-kazakhstan',
 '-mexico',
 '-argentina',
 '-switzerland',
 '-india',
 '-united-states',
 '-netherlands',
 '-japan',
 '-iran',
 '-iran',
 '-brunei',
 '-turkey',
 '-morocco',
 '-saudi-arabia',
 '-india',
 '-india',
 '-japan',
 '-denmark',
 '-malawi',
 '-sudan',
 '-libya',
 '-libya',
 '-tunisia',
 '-india',
 '-india',
 '-russia',
 '-tajikistan',
 '-romania',
 '-turkey',
 '-india',
 '-italy',
 '-bulgaria',
 '-ghana',
 '-united-states',
 '-italy',
 '-aruba',
 '-barbados',
 '-united-states',
 '-croatia',
 '-france',
 '-finland',
 '-china',
 '-montenegro',
 '-russia',
 '-cyprus',
 '-canada',
 '-saudi-arabia',
 '-japan',
 '-australia',
 '-germany',
 '-united-states',
 '-finland',
 '-south-korea',
 '-south-korea',
 '-united-states',
 '-indonesia',
 '-china',
 '-united-states',
 '-netherlands',
 '-canada',
 '-canada',
 '-russia',
 '-united-states',
 '-east-timor',
 '-united-kingdom',
 '-nigeria',
 '-brazil',
 '-united-states',
 '-netherlands',
 '-germany',
 '-germany',
 '-poland',
 '-united-states',
 '-canada',
 '-canada',
 '-canada',
 '-united-kingdom',
 '-afghanistan',
 '-north-korea',
 '-peru',
 '-russia',
 '-russia',
 '-kazakhstan',
 '-germany',
 '-serbia',
 '-china',
 '-netherlands',
 '-ukraine',
 '-russia',
 '-russia',
 '-south-africa',
 '-israel',
 '-lithuania',
 '-united-states',
 '-portugal',
 '-bermuda',
 '-jamaica',
 '-angola',
 '-italy',
 '-china',
 '-south-africa',
 '-dominican-republic',
 '-canada',
 '-germany',
 '-united-states',
 '-cape-verde',
 '-spain',
 '-italy',
 '-croatia',
 '-brazil',
 '-japan',
 '-greece',
 '-cayman-islands',
 '-spain',
 '-angola',
 '-finland',
 '-mexico',
 '-poland',
 '-bosnia',
 '-algeria',
 '-united-states',
 '-ukraine',
 '-china',
 '-kuwait',
 '-estonia',
 '-guinea',
 '-india',
 '-pakistan',
 '-russia',
 '-finland',
 '-indonesia',
 '-india',
 '-romania',
 '-norway',
 '-japan',
 '-haiti',
 '-united-states',
 '-palestine',
 '-kurdistan',
 '-yemen',
 '-russia',
 '-india',
 '-india',
 '-united-states',
 '-sierra-leone',
 '-united-states',
 '-bosnia',
 '-bulgaria',
 '-argentina',
 '-united-states',
 '-colombia',
 '-united-kingdom',
 '-china',
 '-saudi-arabia',
 '-germany',
 '-greece',
 '-russia',
 '-kosovo',
 '-russia',
 '-netherlands',
 '-denmark',
 '-zimbabwe',
 '-indonesia',
 '-brazil',
 '-italy',
 '-germany',
 '-samoa',
 '-british-virgin-islands',
 '-mexico',
 '-united-states',
 '-new-caledonia',
 '-united-states',
 '-india',
 '-india',
 '-india',
 '-china',
 '-china',
 '-north-korea',
 '-china',
 '-malaysia',
 '-china',
 '-australia',
 '-india',
 '-india',
 '-nicaragua',
 '-greece',
 '-finland',
 '-united-kingdom',
 '-brazil',
 '-japan',
 '-indonesia',
 '-germany',
 '-canada',
 '-brazil',
 '-united-states']

In [128]:
def place_name(df):
    i = 0
    countries = []
    for c in df.loc[:,'country'].str.lower():
        countries.append('-' + c)
        if ' ' in c:
            countries[i] = countries[i].replace(' ','-')
            
        df.iloc[i,31] = df.iloc[i,31].replace(countries[i],'')
        
        i+=1

    return df['place_slug']

In [129]:
place_name(df_test)

/Users/terry/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

0    mexico-city
1         cancun
2          amman
Name: place_slug, dtype: object

In [104]:
print(df.columns[31])

place_slug

In [123]:
df.iloc[0,31]

'mexico-city'

In [117]:
df_test

,1br_studio_rent_in_center,adult_nightlife,air_quality_(year-round),airbnb_(monthly),cashless_society,coca-cola,coffee,cost_of_living,cost_of_living_for_expat,cost_of_living_for_local,...,religious_government,safe_tap_water,safety,startup_score,traffic_safety,walkability,nomad_score,region,country,place_slug
0,492.0,4.0,42.0,946.0,1.00000,0.70,1.40,3.0,961.0,626.0,...,0.0,0.0,1.0,3.0,4.0,4.0,4.03,Latin America,Mexico,mexico-city
1,223.0,3.0,19.0,976.0,1.00000,0.63,1.11,3.0,697.0,349.0,...,0.0,0.0,2.0,3.0,4.0,4.0,4.51,Latin America,Mexico,cancun
2,503.0,2.0,68.0,1312.0,1.06622,0.54,0.70,3.0,1064.0,631.0,...,1.0,0.0,3.0,2.0,1.0,1.0,4.45,Middle East,Jordan,amman

In [127]:
i = 0
for i in range(10):
    df.iloc[i,31] = df.iloc[i,31].replace(countries[i],'')
    i+=1
    print(df.iloc[i,31])

cancun
amman
ho-chi-minh-city
hong-kong
zhuhai
phuket
kuala-lumpur
phnom-penh
chennai
jaipur-india

In [122]:
countries[0]

'-mexico'